<div class="flex justify-around">
    <h1 class="text-center grow basis-0 mb-4 mt-3 text-3xl">Object: [{{pdObject?.name}}]</h1>
    <div class="my-4 grow basis-0">
        <h2 class="text-xl w-full text-left">
            Tags: <ng-container *ngFor="let tag of pdObject?.objectTags; let last = last">
                {{tag.tag.name + (last ? "" : ", ")}}</ng-container></h2>
    </div>
</div>
<div class="entityInfo">
    <h2 *ngIf="pdObject?.author && pdObject?.author !== ''"><b>Author:</b> {{pdObject?.author}}</h2>
    <h2><b>Description:</b> {{pdObject?.description}}</h2>
</div>
<h2 class="text-2xl text-center">Help/Detail Text</h2>
<p class="entityInfo">{{pdObject?.helpText}}</p>
<h2 class="text-2xl text-center">Comments</h2>
<div class="w-10/12 border-8 rounded-md p-1 mx-auto border-pdextended-signal-iolet">
    <ng-container *ngFor="let comment of pdObject?.comments">
        <h3 class="m-0"><b>User:</b> {{comment.user.username}}</h3>
        <p class="m-0 px-1 border-pdextended-signal-iolet border">{{comment.comment}}</p>
    </ng-container>
</div>