@import "src/css/tags";

.entityInfo {
    @apply mt-1 mb-3 px-1 w-10/12 border-8 rounded-md mx-auto;
}

.entityInfo h2 {
    @apply text-lg;
}

.tag-box {
    @apply flex grow basis-0 content-center flex-wrap my-1;
}

.edit-button {
    @apply bg-blue-500 text-white inline-block h-fit border rounded-lg px-2;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.edit-button:disabled {
    @apply bg-indigo-950 text-blue-500;
}

.cancel-button {
    @apply bg-red-500 text-white inline-block h-fit border rounded-lg px-2;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.edit-button:hover:not([disabled]) {
    @apply underline underline-offset-2;
}

.cancel-button:hover {
    @apply underline underline-offset-2;
}

label {
    @apply text-lg my-auto;
}

input {
    @apply m-1 border p-1 leading-none rounded-md border-slate-500;
}

input:focus {
    @apply outline-blue-700;
}

form {
    grid-template-columns: 1fr 1fr;
}

textarea {
    @apply m-1 border p-1 leading-none rounded-md border-slate-500;
}

input:disabled {
    @apply border-0;
}