<div class="flex justify-between w-10/12 mx-auto">
    <div class="grow flex content-center flex-wrap">
    </div>
    <h1 class="text-center grow-0 mb-4 mt-3 text-3xl">My Profile</h1>
    <div class="grow flex justify-end content-center flex-wrap gap-4">
        <button class="edit-button" routerLink="edit/">
        Edit</button>
    </div>
</div>
<img class="mx-auto" [src]="this.picSrcUrl">

<div class="entityInfo flex justify-around">
    <h2><b>Username:</b> {{user?.username}}</h2>
    <h2><b>E-mail:</b> {{user?.email}}</h2>
</div>

<div class="flex basis-0 grow w-10/12 mx-auto justify-around">
    <h2 class="text-lg">Object Likes</h2>
    <h2 class="text-lg">Library Likes</h2>
</div>
<div class="entityInfo flex">
    <div class="like-parent">
        <ng-container *ngFor="let i of this.objectLikes">
            <a [routerLink]="'/libraries/' + i.replace('/', '/view/')">{{i}}</a>
        </ng-container>
    </div>
    <div class="like-parent">
        <ng-container *ngFor="let j of this.libraryLikes">
            <a [routerLink]="'/libraries/' + j + '/view'">{{j}}</a>
        </ng-container>
    </div>
</div>

<div class="text-center">
    <h2 class="text-2xl mx-auto">Recommendations based on Likes and Tags</h2>
</div>
<div class="flex basis-0 grow w-10/12 mx-auto justify-around">
    <h2 class="text-lg">Object Recommendations</h2>
    <h2 class="text-lg">Library Recommendations</h2>
</div>
<div class="entityInfo flex">
    <div class="like-parent">
        <ng-container *ngFor="let k of this.objectRecs">
            <a [routerLink]="'/libraries/' + k.replace('/', '/view/')">{{k}}</a>
        </ng-container>
    </div>
    <div class="like-parent">
        <ng-container *ngFor="let l of this.libraryRecs">
            <a [routerLink]="'/libraries/' + l + '/view'">{{l}}</a>
        </ng-container>
    </div>
</div>