<h1 class="text-center mt-8 mb-4">Welcome to PureDatabase2!</h1>
    <p>PureDatabase is a wiki/database of <a href="http://puredata.info" target="_blank">pure data</a> objects and libraries. You can browse Libraries
    and objects by name, and search for objects and libraries.<br>
    After signing up You can contribute/edit libraries and objects. You can also 'star' certain libraries or
        objects, as well as add tags to them</p>
<h2 class="text-center text-2xl">Name/Motivation</h2>
    <p>Why '2'? On the puredata.info site there was a reference to some ancient <a href="http://pdstatic.iem.at/pdb/"
        target="_blank">"puredatabase"</a>, but it doesn't seem like it's maintained anymore. There is the 'deken' server api, but this is mainly used
        for downloading packages rather than documenting them and finding objects by 'type', commenting on them,
        "liking" them etc.<br>
    </p>
<h2 class="text-center text-2xl">Recommendation System</h2>
    <p>Based on your likes, you can find respective 'recommended' libraries and objects on your profile.<br>
        The recommendations are based on the objects that share tags with the libraries or objects you've starred.
    </p>
    <p>For reporting bugs in libraries use their respective hosted repositories.</p>