<div class="flex justify-between w-10/12 mx-auto">
    <div class="grow flex content-center basis-0 flex-wrap">
        <button class="cancel-button" routerLink="../">Cancel</button>
    </div>
    <h1 class="text-center grow-0 my-0 text-3xl">Edit Profile</h1>
    <div class="grow basis-0 flex justify-end content-center flex-wrap gap-4">
    </div>
</div>
<img class="mx-auto my-2" [src]="this.picSrcUrl">
<form [formGroup]="form!" class="entityInfo" enctype="multipart/form-data" (ngSubmit)="submitForm()">
    <div class="flex">
        <div class="flex grow basis-0">
            <label class="grow-0" for="username"><b>Username:</b></label>
            <input formControlName="username" required class="text-input grow" id="username" type="text">
        </div>
        <div class="flex grow basis-0">
            <label class="grow-0" for="email"><b>E&#x2011;Mail:</b></label>
            <input formControlName="email" class="text-input grow" id="email" type="text">
        </div>
    </div>
    <div class="flex">
        <div class="flex grow basis-0">
            <label for="image"><b>Profile Picture:</b></label>
            <input #fileInput type="file" formControlName="image" id="image">
        </div>
        <button class="edit-button" [disabled]="!form?.valid" type="submit">Save</button>
    </div>
</form>