<div class="flex justify-between w-10/12 mx-auto">
    <div class="grow flex content-center flex-wrap">
    </div>
    <h1 class="text-center grow-0 my-3 text-3xl">Libraries</h1>
    <div class="grow flex justify-end content-center flex-wrap">
        <button *ngIf="authService.loggedIn" class="edit-button" routerLink="new">
        New</button>
    </div>
</div>
<div class="mx-auto lib-grid rounded-t mt-1">
    <p>Name</p><p>Author</p><p>Description</p><p>Tags</p>
</div>
<div class="mx-auto lib-grid rounded-b border-b-2">
    <ng-container *ngFor="let library of libraries">
        <div><a class="justify-start" [routerLink]="[library.name] +'/view'">{{library.name}}</a></div>
        <p>{{library.author}}</p>
        <p>{{library.description}}</p>
        <p>
            <ng-container *ngFor="let tag of library.tags; let last = last">{{tag + (last ? "" : ", ")}}
            </ng-container>
        </p>
    </ng-container>
</div>